
webBrowser/.vs/webBrowser/v16/.suo
webBrowser/webBrowser/bin/Debug/webBrowser.exe
webBrowser/webBrowser/bin/Debug/webBrowser.exe
webBrowser/webBrowser/bin/Debug/webBrowser.pdb
webBrowser/webBrowser/obj/Debug/DesignTimeResolveAssemblyReferences.cache
webBrowser/webBrowser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
webBrowser/webBrowser/obj/Debug/webBrowser.csproj.GenerateResource.cache
webBrowser/webBrowser/obj/Debug/webBrowser.exe
webBrowser/webBrowser/obj/Debug/webBrowser.pdb
